<header>
    <div class="caja_logos">
        <img class="argentina_programa" src="Logos_proyecto/APLogo.png" alt="Logo de Argentina Programa" id="logoAP">
    </div>
    <nav class="header-social-networks">
        <ul>
            <a href=""><img src="../Maquetado_Estatico/Logos_proyecto/linkedin.png" id="linkedin"></a>
            <a href=""><img src="../Maquetado_Estatico/Logos_proyecto/github.png" id="github"></a>
            <a href=""><img src="../Maquetado_Estatico/Logos_proyecto/facebook.png" id="facebook"></a>
            <a href=""><img src="../Maquetado_Estatico/Logos_proyecto/twitter.png" alt="twitter"></a>
        </ul>
    </nav>
    <div class="caja_banner">
        <img class="banner" src="../Maquetado_Estatico/Imagenes/inmensidad-luz-texto.jpg" alt="Imagen del header"
            width="100%">
    </div>
</header>